<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>

<body>
    <!-- #{content} -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Fill The Complaint Form</h1>
        <form action="/" method="post">
            
            <input type="text" name="name" id="name" placeholder="Enter Your Name">
            <input type="text" name="Phone_number" id="number" placeholder="Enter Your Phone no.">
            <input type="text" name="age" id="age" placeholder="Enter Your Age">
            <textarea name="complaint" id="" cols="30" rows="10" placeholder="Describe Your Complain Here...."></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>

</html>